body {
    margin: 0 auto;
    --primary-main-color: #148AA8;
    --primary-background-color: #EEF7FF;
    --primary-border-radius: 10px;
}
p {
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEF7FF;
}

.card{
    background-color: #ffffff;
    opacity: 95%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}