body {
    margin: 0 auto;
    --primary-main-color: #148AA8;
    --primary-light-color: #1F8FAC;
    --primary-background-color: #EEF7FF;
    --primary-border-radius: 10px;
}
p {
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEF7FF;
}

.card{
    background-color: #ffffff;
    opacity: 95%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
  
.MuiFormLabel-root{
    color: var(--primary-main-color);
}