.formContainer {
    margin: 10px 10px;
}

.textArea {
    box-sizing: border-box;
    border: 2px solid var(--primary-background-color);
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    margin-top: 10px;
}

