.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.headerTextName {
    font-size: 18px;
    font-weight: 550;
}

.headerTextIsland{
    font-size: 14px;
}

.avatar {
    margin: 10px;
}

.bulletPoint {
    margin: 0 5px 0 5px
}