.postContainer {
    width: 100%;
    background-color: green;
}

.post{
    display: flex;
    flex-direction: column;
    margin: 40px 10px 0 10px;
    background-color: aqua;
    border-radius: 15px;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.avatar {
    margin: 10px;
}

.postOptions {
    margin-left: auto
}

.headerTextName {
    font-size: 18px;
    font-weight: 550;
}

.headerTextIsland{
    font-size: 14px;
}

.postBody {
    margin: 10px;
}