.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 500px;
}

.aboutHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.avatar {
}

.titleAbout {
    margin: 0 10px;
}

.nameText {
    font-size: 18px;
    font-weight: 550;
}

.islandName {
    font-size: 13px;
}
